# --- IDE / Editor ---
.vs/
.vscode/
.idea/
.rider/
*.code-workspace
*.DotSettings.user

**/DesignTimeBuild/
**/.dbcache*/
**/FileContentIndex/
**/v*/DocumentLayout*.json

# --- Build / tooling extras ---
artifacts/
out/
TestResults/
*.coverage
*.coveragexml
*.opencover.xml


appsettings.*.local.json
secrets.json
local.settings.json           # Azure Functions
*.local.json
.env                          # dotenv files with secrets

# --- OS junk ---
.DS_Store
Thumbs.db
